In [ ]:
# My Linkedin, donâ€™t hesitate to connect me :)
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler  
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix 
from sklearn.metrics import classification_report

In [ ]:
data = pd.read_csv('heart_disease_data.csv')
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [ ]:
y = data['target']
x = data.drop('target', axis = 1)
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [ ]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state=42)

# We will use a standard scaler to scale the features for processing
scaler = StandardScaler()
scale = scaler.fit(x_train)
x_train = scale.transform(x_train)
x_test = scale.transform(x_test)

In [ ]:
# Creating a Logistic Regression Model
model = LogisticRegression()
model.fit(x_train,y_train)
pred = model.predict(x_test)

In [ ]:
score = accuracy_score(y_test, pred)
score

0.8524590163934426

In [ ]:
# Creating a Confusion Matrix
confusion_matrix(y_test, pred)

array([[25,  4],
       [ 5, 27]])

In [ ]:
# extracting TN, TP, FN, FP
tn, fp, fn, tp = confusion_matrix(y_test, pred).ravel()
(tn,fp, fn, tp)

(25, 4, 5, 27)

In [ ]:
# Confusion Matrix metrics
matrix = classification_report(y_test, pred)
print("Classification Report \n",matrix)

Classification Report
               precision    recall  f1-score   support

           0       0.83      0.86      0.85        29
           1       0.87      0.84      0.86        32

    accuracy                           0.85        61
   macro avg       0.85      0.85      0.85        61
weighted avg       0.85      0.85      0.85        61